// Цвета
$color-primary: #FF3E79;
$color-text-primary: #1B1C21;
$color-text-secondary: #7E7E82;
$color-accent: #41F6D7;
$color-background: #F8F8F8;
$color-white: #FFFFFF;
$color-border: #EAEAEA;
$color-shadow: rgba(14, 24, 80, 0.15);

// Шрифты
$font-family: "TT Lakes", sans-serif;

// Размеры
$min-width: 320px;
$max-width: 2440px;

// Брейкпоинты
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;

