@use '../common/doc' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px;

    @media screen and (min-width: $breakpoint-desktop) {
        display: none;
    }

    &__logo {
        position: relative;

        &::after {
            right: -20px;
            top: 12px;
            content: '';
            position: absolute;
            height: 32px;
            width: 2px;
            background-color: $color-border;
            border-radius: 1px;

            @media screen and (min-width: $breakpoint-tablet) {
                left: -20px;
            }
        }
    }

    &__actions {
        display: flex;
        gap: 16px;

        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3) {
            display: none;

            @media screen and (min-width: $breakpoint-tablet) {
                display: block;
            }
        }
    }

    &__menu-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        @media screen and (min-width: $breakpoint-tablet) {
            gap: 42px;
        }
    }
}

