@use '../common/doc' as *;

.modal-textarea {
  width: 100%;
  height: 118px;
  border: 1px solid $color-border;
  border-radius: 8px;
  padding: 12px 16px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}