@use '../common/doc' as *;

.prices {
  display: flex;
  flex-direction: column;
  background-color: $color-background;

  &__title {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 16px;

    @media screen and (min-width: $breakpoint-tablet) {
      margin-left: 24px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      margin-left: 32px;
    }
  }

  &__price-list {
    margin: 0;
    padding: 16px;
    position: relative;
    height: 228px;

    @media screen and (min-width: $breakpoint-tablet) {
      height: auto;
      padding: 24px;
    }

    &::after {
      content: '';
      position: absolute;
      right: -2px;
      top: 14px;
      bottom: 0;
      width: 28px;
      height: 205px;
      background: linear-gradient(to right, transparent, $color-background);
      pointer-events: none;
      z-index: 1000;
    }
  }

  &__wrapper {
    @media screen and (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-inline: 16px;

    @media screen and (min-width: $breakpoint-tablet) {
      padding-inline: 24px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      padding-inline: 32px;
    }
  }

  &__disclaimer {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    max-width: 430px;
  }

  &__get-commercial {
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: inherit;

    img {
      vertical-align: middle;
    }
  }
}