@use '../common/doc' as *;

.services-list {
  display: flex;
  gap: 2px;
  overflow: auto;
  scrollbar-width: none;
  padding: 24px 16px 0 16px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 32px 24px 0 24px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding: 8px 32px 0 32px;
    overflow: visible;
    flex-wrap: wrap;
  }

  &__service {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: $color-text-secondary;
    white-space: nowrap;
    transition: 0.3s ease;

    &:hover {
      background-color: #edeaea;
    }

    &--checked {
      border: 2px solid #B8FFEC;
      background-color: $color-white;
      border-radius: 6%;
    }
  }
}