@use '../common/doc' as *;

.side-menu {
    visibility: hidden;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-white;
    width: 320px;
    z-index: 100;
    height: 100%;
    box-shadow: 16px 0 20px $color-shadow;
    overflow-y: auto;
    transition: transform 0.3s ease, visibility 0.3s ease;

    &.open {
        visibility: visible;
        transform: translateX(0);
    }

    @media screen and (min-width: $breakpoint-desktop) {
        position: static;
        box-shadow: none;
        visibility: visible;
        transform: translateX(0);
    }

    &__header {
        display: grid;
        padding: 18px 24px 0 24px;
        grid-template-columns: auto auto 1fr;
        align-items: center;
        gap: 17px;

        @media screen and (min-width: $breakpoint-desktop) {
            grid-template-columns: auto auto;
        }
    }

    &__options-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 46px 24px 0 24px;
        font-weight: 500;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        padding: 32px 24px;
        margin-top: auto;

        @media  screen and (min-width: $breakpoint-desktop) {
            margin-top: 205px;
        }
    }

    &__footer-controls {
        display: flex;
        gap: 16px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 16px;
        letter-spacing: -0.2px;

        a {
            color: $color-text-primary;
            text-decoration: none;
        }
    }

    &__languages {
        display: flex;
        gap: 7px;
        margin-top: 40px;
        letter-spacing: -0.2px;
        font-weight: 500;
    }
}

